{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

    <div ng-if="replacement == true" class="container replacement-container" ng-cloak="">
        
        <div class="replacement-controls col-md-12">
            <div class="col-md-2 replacement-title">[[active_menu ? active_menu:'Resources']]</div>

            <div class="col-md-5 replacement-filter">
                <select name="" id="" class="form-control input-lg black-selector" ng-cloak ng-if="active_menu == 'resources'">
                    <option value="">By Type</option>
                </select>
                <select name="" id="" class="form-control input-lg black-selector" ng-cloak ng-if="active_menu == 'events'">
                    <option value="">By Country</option>
                </select>
                <select name="" id="" class="form-control input-lg black-selector" ng-cloak ng-if="active_menu == 'events'">
                    <option value="">By Month</option>
                    <option>January</option>
                    <option value="">February</option>
                </select>
            </div>
            <div class="col-md-3 pull-right replacement-shutdown" ng-click="hideMenu()">
                <span>Close</span>
                <i class="fa fa-close"></i>
            </div>
        </div>
        <div class="links-wrapper col-md-12" ng-if="active_menu == 'resources'">
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/map.png" alt="" class="img-responsive">
                    <div class="title">
                        GEO-6: Global Environment Outlook: Regional Assessment for Asia and the Pacific
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/global_gender.png" alt="" class="img-responsive">
                    <div class="title">
                        Global Gender and Environmental Outlook
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/ocean_litter.png" alt="" class="img-responsive">
                    <div class="title">
                        Marine litter: Vital Graphics
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/carbon_waste.png" alt="" class="img-responsive">
                    <div class="title">
                        Carbon Emitting Power Plants Across the World
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/integrated.png" alt="" class="img-responsive">
                    <div class="title">
                        Integrated Assessment of Short-lived Climate Pollutants in Latin America and the Caribbean: Summary
                        for Decision Makers
                    </div>
                </div>
            </div>

        </div>

        <div class="links-wrapper col-md-12" ng-if="active_menu == 'events'">
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/budapest.png" alt="" class="img-responsive">
                    <div class="title">
                        Budapest Water Summit 2017
                    </div>
                    <div class="date-and-time">
                        1-2 December 2016 Budapest,Hungary
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/unepassembly.png" alt="" class="img-responsive">
                    <div class="title">
                        3rd Session of the United Nations Environment Assembly(UNEA-3)
                    </div>
                    <div class="date-and-time">
                        4-6 December 2016 Nairobi,Kenya
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/knowledge_sharing_worshop.png" alt="" class="img-responsive">
                    <div class="title">
                        Knowledge Sharing Workshop on Capacity Development for Cambodia's Green Future
                    </div>
                    <div class="date-and-time">
                        18 December 2016 Phnom Penh,Cambodia
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/soil_seminar.png" alt="" class="img-responsive">
                    <div class="title">
                        African Soil Seminar
                    </div>
                    <div class="date-and-time">
                        10 January 2016 Nairobi,Kenya
                    </div>
                </div>
            </div>
            <div class="single-link white-text">
                <div class="inner">
                    <img src="{{ base_path ~ directory }}/img/12th_parties_conference.png" alt="" class="img-responsive">
                    <div class="title">
                        12th Meeting of the Conference of the Parties to CMS
                    </div>
                    <div class="date-and-time">
                        12-14 January 2017 Manila,The Philippines
                    </div>
                </div>
            </div>

        </div>

        <div class="additional-options white-text col-md-12">
            <span>See All</span>
            <span>Advanced Search</span>
        </div>

    </div>
    <div class="container black-header" >
        <ul class="pull-left left">
            <li>News & Stories</li>
            <li class="regions-tab">
                <span>Regions</span>
                <i class="fa fa-chevron-down"></i>
            </li>
            <li>About Us</li>
            <li>Join Us</li>
        </ul>

        <ul class="pull-right">
            <li class="language-tab">
                Languages
                <i class="fa fa-chevron-down"></i>
            </li>
            <li class="resources-tab" ng-click="displayMenu('resources')" ng-class="isActive('resources')">
                <i class="fa fa-file-text-o"></i>
                <span>Resources</span>
                <i class="fa fa-chevron-down" ng-hide="toggleArrow('resources')"></i>
                <i class="fa fa-chevron-up" ng-if="toggleArrow('resources')"></i>
            </li>
            <li class="events-tab" ng-click="displayMenu('events')" ng-class="isActive('events')">
                <i class="fa fa-calendar"></i>
                <span>Events</span>
                <i class="fa fa-chevron-down" ng-hide="toggleArrow('events')"></i>
                <i class="fa fa-chevron-up" ng-if="toggleArrow('events')"></i>
            </li>



        </ul>
        {{ page.black_header }}
    </div>

    
    {% if page.navigation or page.navigation_collapsible %}
        {% block navbar %}
            {%
            set navbar_classes = [
            'navbar',
            theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
            theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
            ]
            %}
            <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
                {% if not navbar_attributes.hasClass('container') %}
                <div class="{{ container }}">
                    {% endif %}
                    <div class="row">
                        {# Header #}
                        {% if page.header %}
                            {% block header %}
                                <div class="col-md-4 logo-wrapper" role="heading">
                                    {{ page.header }}
                                </div>
                            {% endblock %}
                        {% endif %}

                        <div class="navbar-header main-menu">
                            {#{{ page.navigation }}#}
                            <ul class="mainmenu-toggle">
                                <li ng-click="toggleMainMenu()" ng-class="mainMenuShowing()">
                                    <span>Topics</span>
                                    <i class="fa fa-chevron-down small-clear-left" ng-hide="mainmenu"></i>
                                    <i class="fa fa-chevron-up small-clear-left" ng-if="mainmenu"></i>
                                </li>
                                <li><a href="/about-us" class="grey-text">Why UNEP</a></li>
                                <li>Get Involved</li>
                                <li>
                                    <i class="fa fa-search blue-text bold-text small-clear-right"></i>
                                    <span class="search-text italic-text">Search</span>
                                </li>
                            </ul>
                            {# .btn-navbar is used as the toggle for collapsed navbar content #}
                            {% if page.navigation_collapsible %}
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            {% endif %}
                        </div>
                    </div>


                    
                    {% if page.navigation_collapsible %}
                        <div id="navbar-collapse" class="navbar-collapse collapse">
                            {{ page.navigation_collapsible }}
                        </div>
                    {% endif %}
                    {% if not navbar_attributes.hasClass('container') %}
                </div>
                {% endif %}
            </header>
        {% endblock %}
    {% endif %}

    {% block main %}
        <div role="main" class="main-container {{ container }} js-quickedit-main-content homepage-container">
            <div class="row">
                <section class="col-md-12 homepage-wrapper">
                    <div class="showblue" ng-if="mainmenu" ng-cloak>
                        <div class="col-md-8 links-collection">
                            <span class="col-md-4"><a href="">Agriculture</a></span>
                            <span class="col-md-4"><a href="">Environment Under Review</a></span>
                            <span class="col-md-4"><a href="">Ozone</a></span>
                            <span class="col-md-4"><a href="">Air Quality</a></span>
                            <span class="col-md-4"><a href="">Forests</a></span>
                            <span class="col-md-4"><a href="">Renewable Energy</a></span>
                            <span class="col-md-4"><a href="">Biodiversity</a></span>
                            <span class="col-md-4"><a href="">Gender & Environment</a></span>
                            <span class="col-md-4"><a href="">Sustainable Cities & Lifestyles</a></span>
                            <span class="col-md-4"><a href="">Climate Change</a></span>
                            <span class="col-md-4"> <a href="">Green Economy</a></span>
                            <span class="col-md-4"> <a href="">Transport</a></span>
                            <span class="col-md-4"> <a href="">Delivering on the SDGs</a></span>
                            <span class="col-md-4"> <a href="">Greening the Blue</a></span>
                            <span class="col-md-4"> <a href="">Tourism</a></span>
                            <span class="col-md-4"> <a href="">Energy</a></span>
                            <span class="col-md-4"> <a href="">Oceans & Seas</a></span>
                            <span class="col-md-4"> <a href="">Water</a></span>
                            <span class="col-md-4"><a href="">Environment & Finance</a></span>
                        </div>
                        <div class="col-md-4 latest-post-wrapper">
                            <a href="">
                                <span class="title resource-type">Oceans & Seas </span>
                                <img src="{{ base_path ~ directory }}/img/pioneer_swimmer.jpg" alt="" class="img-responsive">
                                <span class="title">Pioneer Swimmer Lewis Pugh Unveiled as UN Environment Patron for Oceans > </span>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {% endblock %}
